<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Cours</title>
        <link rel="stylesheet" type="text/css" href="../../static/Cours/css/enseignant.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar">
            <a href="{% url 'Etudiant' %}"><img class="logo" src="../../static/img/logo.png">
            <ul>
                <li><a href="{% url 'ajouter_rendu' %}">Submit an assignment</a></li>
                <li><a href="{% url 'traveaux_prof' %}">Home work</a></li>
                <li><a href="{% url 'ajouter_Question' %}">Do you have a question</a></li>
                <li><a href="{% url 'boite_reponse' %}">reception</a></li>
                <li><a href="{% url 'rendu_etu' %}">My assignments</a> </li>
                <li><a href="{% url 'logout' %}">logout</a></li>
            </ul>
        </nav>
        <div class="tab">
            <table>
                <thead>
                    <tr><th>-------</th></tr>
                    <tr><th>Questions</th></tr>
                </thead>
                <tbody>
                    {% for q in questions %}
                        <tr><td>{{ q.question }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tra">
            <table>
                <thead>
                    <tr><th colspan="6">Reply of teachers</th></tr>
                    <tr>
                        <th>Teacher</th>
                        <th>Reply</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in reponse %}
                    <tr>
                        <td>{{ r.nom_completP }}</td>
                        <td>{{ r.reponse }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>