<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Reponse</title>
        <link rel="stylesheet" type="text/css" href="../../static/Cours/css/froms.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <div class="cnt">
           <h1>Reply</h1>
            <div class="border"></div>
            <form class="cnt-form" method="post">
                    {% csrf_token %}
                    <p><label class="cnt-form-lb" for="id_nom_completP"></label>
                        <input class="cnt-form-txt" id="id_nom_completP" type="text" name="nom_completP" maxlength="100" placeholder="Name" required /></p>
                    <p><label class="cnt-form-lb" for="id_reponse"></label>
                        <input class="cnt-form-txt" id="id_reponse" type="text" name="reponse" maxlength="100" placeholder="reponse" required/></p>
                    <input class="cnt-form-btn" type="submit" value="Submit" />
            </form>
       <div class="cnt">
    </body>
</html>